/* @override http://localhost/ctshryock.github.com/style.css */

div {
    text-align:center;
}
img {
    border:3px solid #ccc;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}

blockquote {
	text-transform: none;
	width: 500px;
	margin: 0px auto;
	font-style: italic;
	background: #eee;
	padding: 10px 4px;
}